@charset "utf-8";
/*begin*/
*{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
li{
    float:left;
    margin-left:20px;
}
/*top begin*/
.header{
    width:100%;
    height:50px;
    background-color:#000;
    position: fixed;
    z-index: 5;
    font-size: 18px;
}
.logo{
    float:left;
    height:40px;
    line-height:40px;
    margin-left: 50px;
}
.logo h2{
    color:#999;
    text-decoration: none;
}
.bar{
    float:left;
    height:40px;
    line-height:50px;
    margin:0 0 0 40px;
}
.bar li{
    margin: 0 2px;
    padding:0 13px;
}
.home{
    width: 40px;
    background-color:#e7e7e7;
    font-weight: bold;
    color: #4399ca;
}

.user{
    float:right;
    height:40px;
    line-height:50px;
    margin:0 40px 0 0;
}
.header a:link,a:visited{
    color: white;
    text-decoration: none;
}
.header a:hover,a:focus{
    color:#4399ca;
    font-weight: bold;
    text-decoration: none;
}

.active{
    width: 78px;
    background-color:#e7e7e7;
}
.active a{
    font-weight: bold;
    color: #4399ca;
}


/*top end*/
/*sidebar begin*/
.sidebar{
    width: 12%;
    background-color: #636363;
    padding-top: 50px;
    position: fixed;
    height: 100%;
}
.sidebar ul{
    width:100%;
    height:100%;
    color:white;
}
.sidebar .box,.box0{
    width: 100%;
    float: left;
    min-height: 20px;
    margin-left: -1px;
    border:1px solid #eee;
    padding-top: 15px;
    padding-bottom: 5px;
    cursor: pointer;
}
.sidebar .menu-box{
    padding-left: 40px;
}
.box .menu-list{
    margin-top:10px;
    width:100%;
}
.box .menu-list li{
    line-height:40px;
    width:100%;
    margin-top:5px;
    float:right;
    background-color:#9F9F9F;
}
.box .menu-list li a{
    text-decoration: none;
    font-size:14px;
    padding-left:40px;
    color: #eee;
}
.display_none{
    display: none;
}
.sidebar a:link{
    font-weight: bold;
    color: #eee;
    text-decoration: none;
}
.sidebar a:hover,.box .menu-list li a:hover{
    font-weight: bold;
    color: #4399ca;
    text-decoration: none;
}
/*sidebar end*/
/*main_content begin*/
.main_content{
    width:100%;
    min-height:600px;
    float:left;
    margin-top:80px;
}
.main_content .iframe{
    margin:0;
    min-height:600px;
}
.main_content .iframe iframe{
    min-height:600px;
    width:100%;
    border:none;
}