@charset "utf-8";
/*初始化样式*/
*{
	margin:0;
	padding:0;
	font-size:14px;
	font-family:微软雅黑;
}
a{
	text-decoration:none;
	color:#999;
}
li{
	list-style-type:none;
}

/*bar样式*/
.bar{
	height:50px;
	line-height:50px;
	border-bottom:1px solid #e2e2e2;
	background-color:#e2e2e2;
	color:#969696;
}
.bar h3{
	padding-left:20px;
}
.bar h3 a{
	color:#969696; 
}
.bar h3 a:hover{
	color:#4B4B4B;
}
/*main-wrap样式*/
.main-wrap{
	width:95%;
	margin:30px auto;
}
/*select样式*/
.main-wrap .select{
	margin:10px 0;
}
.select select{
	height:40px;
	width:250px;
	padding:10px;
	margin-right:100px;
	text-align:center;
	border:1px solid #000;
	background-color:#E4E4E4;
}
.choose-wrap{
	width:80%;
    height:420px;
	margin:50px auto 30px;
	border:1px solid #B4B4B4;
}
.choose-wrap .ques-box{
	width:96%;
	height:50px;
	padding:15px 15px;
}
.choose-wrap .color1{
	background-color:#8A8A8A;
	border-right:1px solid #e4eee4;
}
.choose-wrap .color2{
	background-color:#D9D9D9;
	border-right:1px solid #e4eee4;
}
.choose-wrap .ques-box span{
	width:20%;
	text-align:center;
	padding:10px 5px;
	line-height:50px;
	font-size:16px;
	font-weight:500;
}
.choose-wrap .ques-box .ques_btn{
	margin-right: 15px;
	float: right;
	padding-top: 5px;
}
.choose-wrap .ques-box .uppic1{
    border:1px solid #e2e2e2;
    background:#e2e2e2;
    width:120px;
    height:30px;
}
.choose-wrap .ques-box .uppic2{
    border:1px solid #e2e2e2;
    background:#e2e2e2;
    width:80px;
    height:40px;
    margin-left: 0;
    cursor: pointer;
}
.choose-wrap .ques-box .ques{
    width:55%;
    height:35px;
    padding:5px 10px;
    margin-left:10px;
}
.choose-wrap .ques-box input{
    width:55%;
    height:35px;
    padding:5px 10px;
    margin-left:24px;
}
.choose-wrap .ques-box .ques:hover, .choose-wrap .ques-box input:hover{
    border:1px solid #00F;
}



.choose-wrap .fill-box{
    width:96%;
    height:45%;
    margin:15px 10px 0;
}
.choose-wrap .fill-box .ques_btn{
    float: right;
}
.choose-wrap .fill-box .blank_btn{
    width:105px;
    height:40px;
    position: relative;
	left:618px;
    bottom:100px;
}
.choose-wrap .fill-box .blank_btn .add_blank{
    border:1px solid #e2e2e2;
    background:#e2e2e2;
    width:205px;
    height:40px;
    cursor: pointer;
}
.choose-wrap .fill-box .uppic1{
    border:1px solid #e2e2e2;
    background:#e2e2e2;
    width:120px;
    height:38px;
}
.choose-wrap .fill-box .uppic2{
    border:1px solid #e2e2e2;
    background:#e2e2e2;
    width:80px;
    height:40px;
    margin-left: 0;
    cursor: pointer;
}
.subjective2{
    position: relative;
    left:60px;
}
.subjective1{
    position: relative;
    left:30px;
    bottom:135px;
    font-size: 20px;
}
.subjective4{
    position: relative;
    left:230px;
    border:none;
    cursor:pointer;
    color:#fff;
    background-color:#1D1D1D;
}
.subjective4:hover{
    background-color:#00F;
}




.choose-wrap .answer-box{
	width:80%;
	height:50px;
    padding:50px 0 40px 150px;
}
.choose-wrap .answer-box .color2{
	background-color:#D9D9D9;
	border-right:1px solid #e4eee4;
}
.choose-wrap .answer-box span{
	width:20%;
	text-align:center;
	padding:10px 5px;
	line-height:50px;
	font-size:16px;
	font-weight:500;
}
.choose-wrap .answer-box .answer{
	width:130px;
	height:35px;
	padding:5px 10px;
	margin-left:20px;
}
.choose-wrap .answer-box .answer:hover{
	border:1px solid #00F;
}
.choose-wrap .answer-box .bnt{
	width:100px;
	height:40px;
	line-height:40px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	margin-left:50px;
	background-color:#1D1D1D;
	border:none;
	cursor:pointer;
}
.choose-wrap .answer-box .bnt:hover{
	background-color:#00F;
}
.display_none{
	display:none;
}

